
<div class="navbar navbar-header-top" role="navigation">
	<div class="inner">
		<ul id="nav-main" class="linklist navlinks-rightside" role="menubar">
		<!-- IF S_REGISTERED_USER -->
			<!-- IF S_NOTIFICATIONS_DISPLAY -->
			<li class="small-icon icon-notification dropdown-container dropdown-{S_CONTENT_FLOW_END}">
				<a href="{U_VIEW_ALL_NOTIFICATIONS}" id="notification_list_button" class="dropdown-trigger">
					<i class="fa fa-bell<!-- IF NOTIFICATIONS_COUNT == 0 -->-o<!-- ENDIF -->"></i>
					<span>{L_NOTIFICATIONS}</span>
					<!-- IF NOTIFICATIONS_COUNT != 0 --><strong>{NOTIFICATIONS_COUNT}</strong><!-- ENDIF -->
				</a>
				<!-- INCLUDE notification_dropdown.html -->
			</li>
			<!-- ENDIF -->

			<!-- IF S_DISPLAY_PM -->
			<li class="small-icon icon-pm">
				<a href="{U_PRIVATEMSGS}" role="menuitem">
					<i class="fa fa-envelope<!-- IF PRIVATE_MESSAGE_COUNT == 0 -->-o<!-- ENDIF -->"></i>
					<span>{L_PRIVATE_MESSAGES}</span>
					<!-- IF PRIVATE_MESSAGE_COUNT != 0 --><strong>{PRIVATE_MESSAGE_COUNT}</strong><!-- ENDIF -->
				</a>
			</li>
			<!-- ENDIF -->

			<li id="username_logged_in" class="header-profile dropdown-container">
				<!-- EVENT navbar_header_username_prepend -->

				<a href="{U_PROFILE}" class="header-avatar dropdown-trigger">
				<!-- IF CURRENT_USER_AVATAR -->
					{CURRENT_USER_AVATAR}
				<!-- ENDIF -->
					{CURRENT_USERNAME_SIMPLE}
				</a>
				<div class="dropdown hidden">
					<div class="pointer">
						<div class="pointer-inner"></div>
					</div>
					<ul class="dropdown-contents" role="menu">
					<!-- IF U_RESTORE_PERMISSIONS -->
						<li class="small-icon icon-restore-permissions">
							<a href="{U_RESTORE_PERMISSIONS}">
								{L_RESTORE_PERMISSIONS}
							</a>
						</li>
					<!-- ENDIF -->
	
						<!-- EVENT navbar_header_profile_list_before -->

						<li class="small-icon icon-ucp">
							<a href="{U_PROFILE}" role="menuitem">
								{L_PROFILE}
							</a>
						</li>

						<li class="small-icon icon-profile">
							<a href="{U_USER_PROFILE}" role="menuitem">
								{L_READ_PROFILE}
							</a>
						</li>

						<!-- EVENT navbar_header_profile_list_after -->
	
						<li class="separator"></li>

						<li class="small-icon icon-logout">
							<a href="{U_LOGIN_LOGOUT}" accesskey="x" role="menuitem">
								{L_LOGIN_LOGOUT}
							</a>
						</li>
					</ul>
				</div>

				<!-- EVENT navbar_header_username_append -->
			</li>
		<!-- ELSE -->
			<li class="small-icon icon-logout">
				<a href="{U_LOGIN_LOGOUT}" accesskey="x" role="menuitem">
					{L_LOGIN_LOGOUT}
				</a>
			</li>

			<!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
			<li class="small-icon icon-register">
				<a href="{U_REGISTER}" role="menuitem">
					{L_REGISTER}
				</a>
			</li>
			<!-- ENDIF -->

			<!-- EVENT navbar_header_logged_out_content -->
		<!-- ENDIF -->
		</ul>
	</div>
</div>
